<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(href='https://fonts.googleapis.com/css?family=Lato:700|Noto+Sans+TC:100,300,400,500,700,900&display=swap', rel='stylesheet')
        link(rel="stylesheet", href="css/style.css")
    body
        .navbar
            ul.menu
                li.menu-item
                    a.menu-item__href.menu-item__href--active(href="javascript:;")
                        img(src="./svg/task.svg", alt="")
                li.menu-item
                    a.menu-item__href(href="javascript:;")
                        img(src="./svg/music.svg", alt="")
                li.menu-item
                    a.menu-item__href(href="javascript:;")
                        img(src="./svg/report.svg", alt="")
        main.main
            .box.shadow-3.border-20
                .box-group.box-group--ing
                    .box-header
                        p.box__title 代辦任務1
                        .box-icon
                            span.icon
                                img(src="./svg/order.svg", alt="")
                            span.icon
                                img(src="./svg/add-task.svg", alt="")
                    .box-content
                        ul.list
                            li.list-item
                                .circlDone
                                p.list-item__p 行銷提案簡報完成
                                ul.circleLi
                                    li.circleLi-item
                                    li.circleLi-item
                                    li.circleLi-item
                                    li.circleLi-item
                                .box-icon
                                    span.icon
                                        img(src="./svg/remove.svg", alt="")
                                    span.icon
                                        img(src="./svg/play.svg", alt="")
                            li.list-item
                                .circlDone
                                p.list-item__p 線上雜誌銷售管道蒐集
                                ul.circleLi
                                    li.circleLi-item
                                    li.circleLi-item
                                .box-icon
                                    span.icon
                                        img(src="./svg/remove.svg", alt="")
                                    span.icon
                                        img(src="./svg/play.svg", alt="")
                            li.list-item
                                .circlDone
                                p.list-item__p 律師事務所課程行銷文案
                                ul.circleLi
                                    li.circleLi-item
                                .box-icon
                                    span.icon
                                        img(src="./svg/remove.svg", alt="")
                                    span.icon
                                        img(src="./svg/play.svg", alt="")
                            li.list-item
                                .circlDone
                                p.list-item__p 音樂會今日文案圖片設計
                                ul.circleLi
                                    li.circleLi-item
                                    li.circleLi-item
                                .box-icon
                                    span.icon
                                        img(src="./svg/remove.svg", alt="")
                                    span.icon
                                        img(src="./svg/play.svg", alt="")
                .box-group.box-group--done
                    .box-header
                        p.box__title 已完成任務
                    .box-content
                        ul.list
                            li.list-item
                                .circlDone
                                p.list-item__p 把首頁介面的流程圖整理出來
                            li.list-item
                                .circlDone
                                p.list-item__p 讀完《資訊架構學》第一章
                            li.list-item
                                .circlDone
                                p.list-item__p 把交換學生的課表整理完送出給學校
                            li.list-item
                                .circlDone
                                p.list-item__p 把講座心得整理成一篇文章
                            li.list-item
                                .circlDone
                                p.list-item__p 把首頁介面的流程圖整理出來
                            li.list-item
                                .circlDone
                                p.list-item__p 讀完《資訊架構學》第一章
                            li.list-item
                                .circlDone
                                p.list-item__p 把交換學生的課表整理完送出給學校
                            li.list-item
                                .circlDone
                                p.list-item__p 把講座心得整理成一篇文章
            
            .box.shadow-3.border-20(style="display: none")
                .box-group.box-group--media
                    .box-header
                    .box-content
                        .switch
                            p.switch__title 鬧鐘提醒
                            .switch__control
                        .radio
                            form.radio-group
                                p.radio-group__title 工作結束鬧鐘
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p NONE
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p BEEP
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p DEFAULT
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p ALERT
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p WARNING
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p DIGITAL
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p BIRD
                                label.radio-label
                                    input.radio__input(type="radio" name="work" checked)
                                    span.radio__select
                                    span.radio__p ALARM
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p MUSIC
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p DROP
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p BELL
                                label.radio-label
                                    input.radio__input(type="radio" name="work")
                                    span.radio__select
                                    span.radio__p HORN
                        .radio
                            form.radio-group
                                p.radio-group__title 休息結束鬧鐘
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p NONE
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p BEEP
                                label.radio-label
                                    input.radio__input(type="radio" name="end" checked)
                                    span.radio__select
                                    span.radio__p DEFAULT
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p ALERT
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p WARNING
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p DIGITAL
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p BIRD
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p ALARM
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p MUSIC
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p DROP
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p BELL
                                label.radio-label
                                    input.radio__input(type="radio" name="end")
                                    span.radio__select
                                    span.radio__p HORN
            
            .box.shadow-3.border-20(style="display: none")
                .box-group.box-group--media
                    .box-header
                    .box-content
            
            .clock-full
                .clock-main
                    .clock.shadow-3
                        .clock-start
                        .clock-innerCircle
                        p.time 12：30
                        svg#svg.clock-bar(width="432" height="432")
                            circle.clock-bar__circle(r="196" cx="216" cy="216" fill="transparent" stroke-width="40")
                    .control
                        .control-icon
                            span.icon
                                img(src="./svg/stopClock.svg", alt="")
                            span.icon
                                img(src="./svg/playClock.svg", alt="")
                            span.icon
                                img(src="./svg/next.svg", alt="")
                .timeline.ml-auto.mt-3_5.flex-column
                    .timeline-circle
                        span.timeline-circle__ing(style="height: 100%")
                    .timeline-circle
                        span.timeline-circle__ing(style="height: 100%")
                    .timeline-circle
                        span.timeline-circle__ing(style="height: 100%")
                    .timeline-circle
                        span.timeline-circle__ing(style="height: 50%")
                    .timeline-circle
                        span.timeline-circle__ing(style="height: 0%")

            .lb
                .lb-close
                .box.shadow-3.border-20
                    .box-header
                        p.box__title 新增任務
                    .box-content
                        label.lbInner
                            p.lbInner__title 任務名稱
                            input.lbInner__input(type="text" value="整理入學資料")
                        .lbInner
                            p.lbInner__title 番茄數
                            .timeline.timeline-add.ml-auto
                                .timeline-circle.timeline-circle--active
                                .timeline-circle.timeline-circle--active
                                .timeline-circle
                                .timeline-circle
                                .timeline-circle
